# Datos — demasiado pesados para GitHub
data/

# Python
__pycache__/
*.pyc
*.pyo
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Spark logs
spark-warehouse/
derby.log
metastore_db/

# Archivos temporales
/tmp/
